* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #131515;
    --darkgrey: #2B2C28;
    --aquamarine: #339989;
    --mint: #7DE2D1;
    --white: #FFFAFB;
}

section[id] {
    scroll-margin-top: 120px;
}

body {
    background-color: var(--black);
    font-family: 'Oswald', sans-serif;
}

.general-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

/* Inicio Header */

header {
    background-color: var(--black);
    height: 120px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
}

.logo img {
    width: 100%;
    height: auto;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px 20px;
    flex-wrap: wrap;
}

nav ul li a {
    padding: 5px 15px;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50px;
    font-size: 16px;
}

nav ul li a:hover {
    color: var(--black);
    border: 2px solid var(--aquamarine);
    border-radius: 50px;
    background-color: var(--mint);
    transition: 0.6s;
}

/* Fin Header */

main {
    position: relative;
    top: 100;
}

/* Inicio Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(images/background-hero.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    background-color: #131515bd;
    text-align: center;
    align-items: center;
    color: var(--white);
}

/* Fin Hero */

/* Inicio Cursos */

.cursos{
    background-color: var(--black);
    color: var(--white);
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cursos-header{
    background-color: var(--darkgrey);
    height: auto;
    width: 70%;
    padding: 15px 10px 15px 10px;
    text-align: center;
    border-radius: 15px;
}

.cursos-container{
    padding-top: 15px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-perspective: 800;
    perspective: 800;
}

.polaroid{
    margin: 10px;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px -5px var(--aquamarine);
}

.polaroid-frente, .polaroid-dorso {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.polaroid-frente {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.polaroid-frente h3 {
    align-items: center;
    justify-content: center;
    min-height: 60px;
    max-width: 250px;
}

.polaroid-frente img{
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

.polaroid-dorso {
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/* ANIMACIÓN */
@-webkit-keyframes giro-polaroid {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes giro-polaroid {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
/* ANIMACIÓN */

.polaroid:hover {
    -webkit-animation: giro-polaroid 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: giro-polaroid 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* Fin Cursos */

/* Inicio Comunidad  */

.comunidad {
    height: 70vh;
    width: 100%;
    color: var(--white);
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comunidad-container {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 1px 1px 20px var(--aquamarine);
}

.comunidad-texto {
    background-color: var(--darkgrey);
    height: 100%;
    width: 50%;
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.comunidad-img {
    width: 50%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-image: url(images/comunidad-4x4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comunidad-img img {
    height: auto;
    width: 100%;
}

/* Fin Comunidad */


/* Inicio Galeria */

.galeria {
    /* background-color: var(--darkgrey); */
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.galeria-container {
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px 10px;
}

.galeria-texto {
    color: var(--white);
    padding: 0 10px;
}

.galeria-fotos {
    width: 100%;
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.galeria-fotos img {
    height: 100%;
    max-height: 600px;
    width: auto;
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 10px var(--mint);
}

/* Fin Galeria */

/* Inicio Contacto */

.contacto {
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px 10px;
}

.contacto-info h2{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding-left: 20px;
}

.container-info{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 50px 30px;
    padding-bottom: 20px;
}

.container-info h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.info-oficina {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.info-representante {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.icon-contacto {
    height: 20px;
    padding-right: 5px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 150px;
}

.redes-boton img{
    height: 30px;
    cursor: pointer;
}

.edificio {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.edificio iframe {
    width: 100%;
}

/* Fin Contacto */

/* Inicio Footer */
.footer {
    height: 100px;
    width: 100%;
    padding: 20px 0;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo-footer {
    height: 40px;
}

/* Fin Footer */