* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #131515;
    --darkgrey: #2B2C28;
    --aquamarine: #339989;
    --mint: #7DE2D1;
    --white: #FFFAFB;
}

section[id] {
    scroll-margin-top: 120px;
}

body {
    background-color: var(--black);
}

h2 {
    font-size: 35px;
}

.general-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.general-container h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

.general-container p, a {
    font-family: 'Roboto', sans-serif;
}

/* Inicio Header */

header {
    background-color: var(--black);
    height: 120px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
}

.logo img {
    width: 100%;
    height: auto;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

nav ul li a {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover {


    transition: 0.6s;
}

/* Fin Header */

/* Inicio Hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url(images/background-hero.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-container {
    width: 80%;
    height: 80%;
    padding: 20px;
    color: var(--white);
    text-shadow: 0px 0px 25px var(--black);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hero-marca {
    border-radius: 20px;
    padding: 0 10px;
    font-family: 'Squada One', sans-serif;
    font-size: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 0px 30px;
}

.hero-slogan {
    border-radius: 10px;
    padding: 0 10px;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fin Hero */

/* Inicio Cursos */

.cursos{
    background-color: var(--black);
    color: var(--white);
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cursos-header{
    background-color: var(--darkgrey);
    height: auto;
    width: 70%;
    padding: 15px 10px;
    text-align: center;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cursos-header>h2 {
    font-size: 28px;
}

.cursos-header>p {
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}

.cursos-container{
    padding-top: 15px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-perspective: 800;
    perspective: 800;
}

.polaroid{
    margin: 10px;
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px -5px var(--aquamarine);
}

.polaroid-frente, .polaroid-dorso {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.polaroid-frente {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.polaroid-frente h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    max-width: 250px;
}

.polaroid-frente img{
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

.polaroid-dorso {
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.polaroid-dorso>p {
    font-size: 16px;
    font-weight: 500;
    width: 90%;
}

/* ANIMACIÓN */
@-webkit-keyframes giro-polaroid {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes giro-polaroid {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
/* ANIMACIÓN */

.polaroid:hover {
    -webkit-animation: giro-polaroid 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: giro-polaroid 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ANIMACIÓN */

.polaroid-boton {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: var(--darkgrey)
}

.polaroid-boton:hover {
    color: var(--mint);
    text-shadow: -4px 4px 1px var(--black);
    transition: 0.6s;
}

/* Fin Cursos */

/* Inicio Comunidad  */

.comunidad {
    height: auto;
    min-height: 70vh;
    width: 100%;
    color: var(--white);
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comunidad-container {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    border: 2px dotted var(--aquamarine);
}

.comunidad-texto {
    background-color: var(--darkgrey);
    height: 100%;
    min-height: 70vh;
    width: 50%;
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.comunidad-texto-discord {
    width: 80%;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 1px 1px var(--black);
    padding: 5px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 10px 0;
}

.comunidad-texto-discord>h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.comunidad-img {
    width: 50%;
    height: 100%;
    min-height: 70vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-image: url(images/comunidad-4x4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comunidad-img img {
    height: auto;
    width: 100%;
}

.comunidad-boton {
    background-color: var(--white);
    color: var(--darkgrey);
    border: 2px solid var(--aquamarine);
    border-radius: 30px;
    padding: 10px 50px;
    font-family: 'Squada One', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    text-transform: uppercase;
}

.comunidad-boton:hover {
    background-color: var(--aquamarine);
    color: var(--white);
    border-color: var(--mint);
    box-shadow: 1px 1px 15px var(--mint);

    transition: 0.6s;
}
  

/* Fin Comunidad */


/* Inicio Galeria */

.galeria {
    /* background-color: var(--darkgrey); */
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.galeria-container {
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px 10px;
}

.galeria-texto {
    color: var(--white);
    padding: 10px;
}

.galeria-fotos {
    width: 100%;
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.galeria-fotos img {
    height: auto;
    max-height: 430px;
    width: auto;
    max-width: 100%;
    border: 3px dotted var(--aquamarine);
    border-radius: 30px;
}

/* Fin Galeria */

/* Inicio Contacto */

.contacto {
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-container{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px 10px;
}

.contacto-info h2{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding-left: 20px;
}

.container-info{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 50px 30px;
    padding-bottom: 20px;
}

.container-info h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.container-info p {
    font-size: 18px;
    font-weight: 500;
}

.info-oficina {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
}

.info-representante {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
}

.contacto-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    gap: 20px;
}

.icon-contacto {
    height: 20px;
    padding-right: 5px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 150px;
}

.redes-boton img{
    height: 30px;
    cursor: pointer;
}

.edificio {
    width: 100%;
    max-width: 500px;
    height: auto;
    align-items: center;
}

.edificio iframe {
    width: 100%;
}

/* Fin Contacto */

/* Inicio Footer */

footer{
    height: 120px;
    width: 100%;
}

.footer-container {
    height: 100%;
    width: 100%;
    padding: 20px 0;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.logo-footer {
    height: 40px;
}

.footer-texto>h2 {
    font-size: 25px;
}

/* Fin Footer */


/* MEDIA QUERIES */

@media screen and (max-width: 400px) {

    .hero-container {
        width: 100%;
        height: 100%;
        padding: 0 5px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hero-marca {
        font-size: 46px;
        padding: 0;
    }
    
    .hero-slogan {
        font-size: 16px;
        padding: 0;
    }

}

@media screen and (max-width: 510px) {

    .contacto-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contacto-info h2 {
        padding: 0%;
    }

    .container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .info-oficina h3{
        text-align: center;
    }

    .info-oficina p{
        text-align: justify;
    }

    .info-representante h3{
        text-align: center;
    }

    .info-representante p{
        text-align: justify;
    }

    .redes-sociales {
        width: 100%;
        gap: 30px;
    }

    .redes-sociales img {
        height: 40px;
    }

}

@media screen and (min-width: 400px) and (max-width: 550px) {

    .hero-container {
        width: 100%;
        height: 100%;
        padding: 0 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .hero-marca {
        font-size: 60px;
        padding: 0 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero-slogan {
        font-size: 20px;
        padding: 0;
    }

}

@media screen and (max-width: 630px) {
    .hero {
        background-image: url(images/background-hero-10x8-ver.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 800px) {

    .cursos-container {
        perspective: none;
    }

    .galeria-fotos img {
        max-height: none;
        max-width: 80%;
    }

}

@media screen and (min-width: 800px) and (max-width: 990px) {
    
    .galeria-fotos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }

    .galeria-fotos img {
        max-height: none;
        max-width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    
    .hero-container {
        margin: 10px;
    }

    .cursos-header {
        width: 95%;
    }

    .comunidad-img {
        display: none;
    }

    .comunidad-container {
        background-image: url(images/comunidad.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .comunidad-texto {
        width: 100%;
        border-radius: 30px;
        background-color: rgba(54, 53, 53, 0.363);
    }
}

@media screen and (min-width: 880px) and (max-width: 1170px) {

    .cursos-container {
        max-width: 75%;
    }
    
}