* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #131515;
    --darkgrey: #2B2C28;
    --aquamarine: #339989;
    --mint: #7DE2D1;
    --white: #FFFAFB;
}

body {
    background-color: var(--darkgrey);
}

.general-container {
    margin: 0 auto;
    width: 95%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

/* Inicio Header */

header {
    background-color: var(--black);
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 100%;
    height: auto;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.login ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px 20px;
    flex-wrap: wrap;
}

.login ul li a {
    color: var(--white);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px 20px;
    flex-wrap: wrap;
}

nav ul li a{
    padding: 0 10px;
    color: var(--white);
}

/* Fin Header */

/* Inicio Hero */



/* Fin Hero */