* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #131515;
    --darkgrey: #2B2C28;
    --aquamarine: #339989;
    --mint: #7DE2D1;
    --white: #FFFAFB;
}

section[id] {
    scroll-margin-top: 120px;
}

body {
    background-color: var(--black);
}

.general-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.general-container h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

.general-container h2 {
    font-size: 35px;
}

.general-container p, a {
    font-family: 'Roboto', sans-serif;
}

/* Inicio Header */
header{
    width: 100%;
    height: auto;
}

.header-container {
    background-color: var(--black);
    padding: 0 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    position: sticky;
    z-index: 999;
    top: 0;
}

.logo img {
    height: auto;
    width: auto;
    max-width: 100%;
}

.nav-container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-label, .nav-input {
    display: none;
}

.nav-item {
    color: var(--white);
    font-size: 20px;
    font-weight: 800;
    padding-right: 5px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);

    display: inline-block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #339989, #339989 50%, #FFFAFB 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.34s ease;

}

.nav-item::after{
    content: "";
    display: block;
    background-color: var(--aquamarine);
    color: var(--aquamarine);
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
}

.nav-item:hover {
    background-position: 0 100%;
    color: var(--aquamarine);
    transition: 0.3s;
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-login {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.register {
    display: none;
}

/* Fin Header */

/* Inicio Hero */
 main {
    width: 100%;
 }
.uno, .dos, .tres {
    height: 80vh;
    width: 100%;
}

.uno {
    background-color: darkred;
}

.dos {
    background-color: darkblue;
}

.tres {
    background-color: darkgreen;
}

/* Fin Hero */

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {

    .header-container {
        gap: 0;
    }

    .logo img {
        max-width: 75%;
    }

    .nav-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-menu, .nav-login {
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 0;
        background-color: var(--darkgrey);
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav-input:checked + .nav-menu {
        clip-path: circle(100% at center);
    }

    .nav-input:checked + .nav-login {
        clip-path: circle(100% at center);
    }

    .register {
        display: block;
    }

}