* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #131515;
    --darkgrey: #2B2C28;
    --aquamarine: #339989;
    --mint: #7DE2D1;
    --white: #FFFAFB;
}

body {
    background-color: var(--darkgrey);
}

.general-container {
    margin: 0 auto;
    width: 95%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

/* Inicio Header */

header {
    background-color: var(--black);
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;
}

.logo img {
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px 20px;
    flex-wrap: wrap;
}

nav ul li a {
    padding: 5px 15px;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50px;
    font-size: 20px;
}

nav ul li a:hover {
    color: var(--black);
    border: 2px solid var(--aquamarine);
    border-radius: 50px;
    background-color: var(--mint);
    transition: 0.6s;
}

/* Fin Header */

/* Inicio Hero */



/* Fin Hero */