* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #131515;
    --darkgrey: #2B2C28;
    --aquamarine: #339989;
    --mint: #7DE2D1;
    --white: #FFFAFB;
}

section[id] {
    scroll-margin-top: 120px;
}

body {
    background-color: var(--black);
}

.general-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.general-container h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

.general-container h2 {
    font-size: 25px;
}

.general-container p, a, label {
    font-family: 'Roboto', sans-serif;
}

/* Inicio Header */
header{
    width: 100%;
    height: auto;
    position: sticky;
    z-index: 999;
    top: 0;
}

.header-container {
    background-color: var(--black);
    padding: 0 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
}

.logo img {
    height: auto;
    width: auto;
    max-width: 100%;
}

.nav-container {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-label, .nav-input {
    display: none;
}

.nav-item {
    color: var(--white);
    font-size: 20px;
    font-weight: 800;
    padding-right: 5px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);

    display: inline-block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #339989, #339989 50%, #FFFAFB 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.34s ease;
}

.nav-item::after{
    content: "";
    display: block;
    background-color: var(--aquamarine);
    color: var(--aquamarine);
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
}

.nav-item:hover {
    background-position: 0 100%;
    color: var(--aquamarine);
    transition: 0.3s;
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-login {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-login-item2 {
    display: none;
}

.nav-item-register {
    display: none;
}

/* Fin Header */

/* Inicio Login */
 main {
    width: 100%;
    height: auto;
 }

 .register {
    width: 100%;
    height: auto;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/camara-tripode1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.background-shadow {
    width: 100%;
    height: auto;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.171);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-register {
    color: var(--white);
    background-color: #2b2c28ec;
    height: auto;
    min-height: 70vh;
    width: auto;
    padding: 15px;
    outline: 3px solid var(--aquamarine);
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 50px -20px var(--mint);
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 20px;
}

.back-home {
    color: var(--white);
    font-size: 16px;
    font-weight: 800;
    padding-right: 5px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);

    display: inline-block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #339989, #339989 50%, #FFFAFB 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.34s ease;
}

.back-home::after{
    content: "";
    display: block;
    background-color: var(--aquamarine);
    color: var(--aquamarine);
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
}

.back-home:hover {
    background-position: 0 100%;
    color: var(--aquamarine);
    transition: 0.3s;
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.container-register-form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-register-form>h2 {
    font-size: 35px;
}

.register-form {
    width: 100%;
    
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 20px;    
}

.register-form label {
    cursor: pointer;
}

.register-datos {
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.register-item {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}

.register-item input {
    outline: 3px solid var(--aquamarine);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    height: 30px;
    padding: 8px;
    cursor: pointer;
}

.fechaDeNacimiento input{
    width: 140%;
}

.register-email {
    width: 100%;
    font-size: 18px;
}

.register-email-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}

.register-email-item input{
    width: 100%;
    outline: 3px solid var(--aquamarine);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    height: 30px;
    padding: 8px;
    cursor: pointer;
}

.container-register-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}

.register-checkbox {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.register-checkbox label {    
    font-size: 16px;
    text-align: left;
    font-weight: 400;
}

.register-checkbox label a {
    color: var(--mint);
    cursor: pointer;
}

.register-checkbox label a:hover{
    color: var(--aquamarine);
    transition: 0.4s; 
}

.register-boton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.boton-enviar {
    color: var(--darkgrey);
    width: 95%;
    font-size: 20px;
    font-weight: 600;
    padding: 5px ;
    border: 3px solid var(--aquamarine);
    border-radius: 30px;
    cursor: pointer;
}

.boton-enviar:hover {
    color: var(--white);
    background-color: var(--aquamarine);
    border-color: var(--mint);
    transition: 0.4s;
}


.boton-login {
    color: var(--mint);
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
}

.boton-login:hover {
    color: var(--aquamarine);
    transition: 0.4s; 
}

/* Fin Login */

/* Inicio Footer */

footer{
    height: auto;
    width: 100%;
}

.footer-container {
    height: 100%;
    width: 100%;
    padding: 10px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.footer-container h3 {
    font-size: 22px;
}

.logo-footer {
    height: 40px;
}

.footer-texto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-help, .footer-info-legal {
    width: 280px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5px;        
}

.help-items {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.help-items a{
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: start;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);

    display: inline-block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #339989, #339989 50%, #FFFAFB 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.4s ease;
} 

.help-items a:hover {
    background-position: 0 100%;
    color: var(--aquamarine);
    transition: 0.3s;
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer-info-legal p {
    font-size: 16px;
    text-align: justify;
    padding: 10px;
}

.footer-cierre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;   
}

.footer-cierre h3 {
        text-align: justify;
}

/* Fin Footer */

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {

    .nav-img {
        height: 25px;
    }

}

@media screen and (max-width: 430px) {
    
    .footer-texto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

}

@media screen and (max-width: 550px) {
    
    .container-register {
        width: 90%;
        margin: 0 10px;
    }

    .register-datos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .register-item {
        width: 100%;
    }

    .register-item input {
        width: 100%;
    }
}

@media screen and (max-width: 790px) {

    .header-container {
        gap: 0;
    }

    .logo img {
        max-width: 75%;
    }

    .nav-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-img {
        height: 35px;
    }

    .nav-menu, .nav-login {
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 0;
        background-color: var(--darkgrey);
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        gap: 0;

        clip-path: circle(0 at center);
        transition: clip-path .6s ease-in-out;
    }

    .nav-input:checked + .nav-menu {
        clip-path: circle(100% at center);
    }

    .nav-input:checked + .nav-login {
        clip-path: circle(100% at center);
    }

    .nav-item {
        padding: 30px 0;
        height: auto;
        width: 100%;
        border-top: 1px solid var(--aquamarine);
        border-bottom: 1px solid var(--aquamarine);
    }

    .nav-item::after{
        display: none;
    }

    .nav-login-item1 {
        display: none;
    }

    .nav-login-item2 {
        display: block;
    }

    .nav-item-register {
        display: block;
    }

    .background-shadow {
        width: 100%;
        height: auto;
        min-height: 80vh;
        background-color: rgba(0, 0, 0, 0.199);
        padding: 10px 5px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
